DASHSCOPE_API_KEY=<your_dashscope_api_key_here>
MYSQL_PASSWORD=mysql_root_2024
MYSQL_DATABASE=image_style_conversion
SECRET_KEY=your_secret_key_for_jwt_here

OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_ENDPOINT=oss-cn-hangzhou.aliyuncs.com
OSS_BUCKET=
OSS_REGION=cn-hangzhou
OSS_CUSTOM_DOMAIN=
